%html{'x-ng-app'=>'antalex'}
  %head
    %link{rel: 'shortcut icon', href: image_path('favicon.png')}
    %title
      Antalex
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application.js', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{'x-ng-controller'=>'MainController'}
    -#- unless flash.blank?
    -#  - flash.each do |name, msg|
    -#    - if name == 'error' || name == 'highlight'
    -#      %script{type: 'text/javascript'}
    -#        = "$('<div><div style=\"padding: 10;\" class=\"ui-state-#{name}\">#{msg}</div></div>').dialog({width: 330});".html_safe

    .global{id: 'glob'}
      %div{style: 'text-align: right; vertical-align: middle; margin: 7px;'}
        %table{style: 'float: right; font-size: 12;'}
          %tr
            %td
              = current_user.blank? ? 'Войти через' : "Вы зашли как #{current_user.username}"
            %td
              -if current_user.blank?
                = link_to(("#{image_tag 'vk.png', style: 'width: 20px;'}").html_safe, user_omniauth_authorize_path(:vkontakte), target: '_self')
              -else
                = link_to 'Выйти', destroy_user_session_path, target: '_self', method: :delete
      %table.head_panel
        %tbody
          %tr
            %td
              .tdBox
                = link_to '<div style="padding: 5 0;">Главная</div>'.html_safe, root_path
            %td
              .tdBox
                = link_to '<div style="padding: 5 0;">Товары</div>'.html_safe, products_path
            %td
              .tdBox
                = link_to '<div style="padding: 5 0;">Контакты</div>'.html_safe, ''
            %td
              .tdBox
                = link_to '<div style="padding: 5 0;">Корзина</div>'.html_safe, ''
      %div
        %table{style: 'width: 100%;'}
          %tbody
            %tr
              %td.assortment{'x-ng-hide'=>'form_displayed'}
                .firm_block{'x-ng-repeat'=>'firm in assortmentList'}
                  %h3
                    %a{'x-ng-href'=>products_path+'?firm={{firm.id}}'}
                      {{firm.name}}
                  %ul
                    %li{'x-ng-repeat'=>'cat in firm.catigories'}
                      %a{'x-ng-href'=>products_path+'?firm={{firm.id}}&category={{cat.id}}'}
                        {{cat.name}}

              %td
                .main{'ng-view'=>''}
                  = yield



