%html{'x-ng-app'=>'antalex'}
  %head
    %link{rel: 'shortcut icon', href: image_path('favicon.png')}
    %title
      Antalex
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application.js', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{'x-ng-controller'=>'MainController', id: 'glob'}
    -#- unless flash.blank?
    -#  - flash.each do |name, msg|
    -#    - if name == 'error' || name == 'highlight'
    -#      %script{type: 'text/javascript'}
    -#        = "$('<div><div style=\"padding: 10;\" class=\"ui-state-#{name}\">#{msg}</div></div>').dialog({width: 330});".html_safe

    .global
      %div{style: 'text-align: right; vertical-align: middle;'}
        %table.login
          %tr{'x-ng-show'=>'userRequestComplete'}
            %td.new_user_td{'x-ng-hide'=>'currentUser'}
              = link_to 'Вход / Регистрация', login_users_path
            %td{'x-ng-show'=>'currentUser'}
              = link_to 'Настройки', account_users_path
            %td{'x-ng-hide'=>'currentUser'}
              Войти через
            %td{style: 'min-width: 84px; padding-right: 0;', 'x-ng-hide'=>'currentUser'}
              %div#uLogin{'data-ulogin'=>"display=panel;fields=first_name,last_name;providers=vkontakte;hidden=other;redirect_uri=;callback=uLoginOauth"}
            %td.user_info{'x-ng-show'=>'currentUser'}
              {{currentUser.email}}
            %td{'x-ng-show'=>'currentUser', style: 'padding-right: 14px;'}
              %a{'x-ng-click'=>'logout()'}
                Выйти
            -#%td
            -#  -if current_user.blank?
            -#    = link_to(("#{image_tag 'fb.png', class: 'login_img'}").html_safe, user_omniauth_authorize_path(:facebook), target: '_self')
            -#    = link_to(("#{image_tag 'vk.png', class: 'login_img'}").html_safe, user_omniauth_authorize_path(:vkontakte), target: '_self')
            -#  -else
            -#    = link_to 'Выйти', destroy_user_session_path, target: '_self', method: :delete
      %table.head_panel
        %tbody
          %tr
            %td
              .tdBox
                = link_to '<div class="head_spacer">Главная</div>'.html_safe, root_path
            %td
              .tdBox
                = link_to '<div class="head_spacer">Товары</div>'.html_safe, products_path
            %td
              .tdBox
                = link_to '<div class="head_spacer">Контакты</div>'.html_safe, '/contacts'
            %td
              .tdBox
                = link_to '<div class="head_spacer">Корзина</div>'.html_safe, view_carts_path
      %div
        %table{style: 'width: 100%;'}
          %tbody
            %tr
              %td.assortment{'x-ng-hide'=>'form_displayed'}
                .firm_block{'x-ng-repeat'=>'firm in assortmentList | orderBy:\'name\''}
                  %h4
                    %a{'x-ng-href'=>products_path+'?firm={{firm.id}}'}
                      {{firm.name}}
                  %ul
                    %li{'x-ng-repeat'=>'cat in firm.catigories | orderBy:\'name\''}
                      %a{'x-ng-href'=>products_path+'?firm={{firm.id}}&category={{cat.id}}'}
                        {{cat.name}}

              %td
                .main{'ng-view'=>''}
                  = yield



